mixin navItem(isActive, href, icon, text)
  if isActive
    li.is-active
      a(href=href) 
        span(class="icon is-small")
          i(class=icon)
        span=text
  else
    li
      a(href=href) 
        span(class="icon is-small")
          i(class=icon)
        span=text

- var isRoot = path == '/';
- var isChart = path == '/chart';
- var isUpload = path == '/upload'
- var isFavorite = path == '/favorite'

nav.breadcrumb(aria-label='breadcrumbs')
  ul
    +navItem(isRoot, '/', 'fa fa-home', 'Kandy')
    +navItem(isChart, '/chart', 'fa fa-line-chart', 'Chart')
    +navItem(isUpload, '/upload', 'fa fa-upload', 'Upload')
    +navItem(isFavorite, '/favorite', 'fa fa-star', 'Favorite')

h1(class="title")=title
  p(class="subtitle is-6") #{message}
